@model Statii_Incarcare.Models.Db.Utilizatori

@{
    ViewData["Title"] = "Creare Cont";
}

<h1>Ceare Cont</h1>

<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="CreareCont2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parola" class="control-label"></label>
                <input asp-for="Parola" class="form-control"  type="password"/>
                <span asp-validation-for="Parola" class="text-danger"></span>
            </div>
            <div>
                <p style="color:red;">@ViewData["avertisment"]</p>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Creare" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Login</a>
</div>