@model Statii_Incarcare.Models.Db.Utilizatori

@{
    ViewData["Title"] = "Cont";
    Layout = "_Layout";
}
<style>
    #demotext {
color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
color: #444444;
background: #FFFFFF;
}
</style>
<h1 id="demotext">Cont</h1>

<hr />
<div class="row">
    <h4>Informatii Cont</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <br />
    <form method="post">
     <button asp-controller="Login" asp-action="Deconectare" class="btn btn-danger" >Deconectare </button>
    </form>
    
</div>
