@model Statii_Incarcare.Models.Db.Utilizatori

@{
    ViewData["Title"] = "Cont";
}

<h1>Cont</h1>

<hr />
<div class="row">
    <h4>Informatii Cont</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <br />
    <form method="post">
     <button asp-controller="Login" asp-action="Deconectare" class="btn btn-danger" >Deconectare </button>
</form>
    
</div>
