@model Statii_Incarcare.Models.ModelPriza
@{
     ViewData["Title"] = "Adaugare Priza";
    Layout = "_Layout";
}

<div class="col-md-4">
        <form asp-controller="AdaugarePrize" asp-action="Add" method="post" >
            <label asp-for="tipuri" class="control-label">Tipul Prizei</label>
             <select id="liOras" asp-for="@Model.TipId" class="form-control" asp-items="@(new SelectList(Model.tipuri,"Value","Text"))"></select>
                <br/>
            <input readonly asp-for="@Model.StatieId" hidden=true/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>